.messages
  - if @posts.length > 0
    = @posts.each do |post|
      .message
        .message__content
          post.content
        .message__name
          post.user.name
        .message__date
          post.created_at
  - else
    .message.default
      まだ投稿はありません

.form
  .form__contentForm
  .form__postBtn